<!-- services.page.html -->
<ion-header class="services-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Prestation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="services-content">
  <!-- Searchbar -->
  <ion-searchbar
    placeholder="Rechercher un service"
    animated="true"
    class="ion-padding-top custom-searchbar"
  >
  </ion-searchbar>
  <ion-grid fixed>
    <form (submit)="onSubmit()">
      <ion-row>
        <!-- Champ pour le nom de la prestation -->
        <ion-col size="8">
          <ion-input
            type="text"
            label-placement="stacked"
            label="Nom de la Prestation"
            placeholder="Entrez un nom"
            fill="outline"
            [(ngModel)]="prestation.nom"
            name="nom"
          ></ion-input>
        </ion-col>

        <!-- Champ pour le prix de la prestation -->
        <ion-col size="4">
          <ion-input
            label-placement="stacked"
            label="Prix"
            type="number"
            placeholder="Prix"
            fill="outline"
            [(ngModel)]="prestation.prix"
            name="prix"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Champ pour la durée de la prestation -->
        <ion-col size="6">
          <ion-input
            label-placement="stacked"
            label="Durée (minutes)"
            type="number"
            placeholder="Durée"
            fill="outline"
            [(ngModel)]="prestation.duree"
            name="duree"
          ></ion-input>
        </ion-col>

        <!-- Bouton d'enregistrement -->
        <ion-col size="6" class="ion-text-center">
          <ion-button type="submit" expand="block">
            {{editingIndex === null ? 'Enregistrer': 'Modifier'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <!-- Liste des services -->
  <ion-list class="services-list">
    <!-- Service 1 -->
    <ion-item-sliding *ngFor="let item of newPrestation">
      <ion-item lines="full" detail>
        <ion-label>
          <h2>{{item.nom}}</h2>
          <p class="service-details">
            <ion-text color="medium">Durée: {{item.duree}} min</ion-text>
          </p>
        </ion-label>
        <ion-note slot="end" class="price-tag"> {{item.prix}} Fcfa </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateItem(item)" color="warning">
          <ion-icon slot="top" name="create"></ion-icon>
          Modifier
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Supprimer
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-text
    class="ion-padding empty-state"
    *ngIf="newPrestation.length == 0"
    color="danger"
  >
    <p>Aucune Prestation n'a ete creer</p>
  </ion-text>
</ion-content>
